DATABASE_URL=postgresql://postgres:admin01@localhost:5432/pape_pos
PORT=3001
JWT_SECRET=tu_secret_seguro_cambiar_2024
STORAGE_PATH=./storage/products
BACKUP_PATH=./database/backups
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
BACKEND_URL=http://localhost:3001
ELECTRON_DEV=true
